{% extends 'flatpages/default.html' %}  
{# Импортируем модуль с нашим тегом #}
{% load custom_tags %}
{% block title%}
News
{% endblock title%}
{% block content %}
<br>
{# Добавляем переход на страницу создания новости #}
<a href="{% url 'create_news' %}">
    <button>Добавить Новость/Статью</button>
</a>
<hr>
<br>
    {% if news %}
        {% for n in news %}
            
                <h4>{{ n.title }}</h4>
                <p>{{ n.created|date:'d F Y' }}</p>
                <b>{{ n.text|truncatechars:20 }}</b>
                <a href="{% url 'post_detail' pk=n.id %}">Читать далее</a>
                {% if not forloop.last %}
                <hr>
                
    {% endif %}
        {% endfor %}
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}
    <br>
{# Добавляем пагинацию на страницу #}

{% if page_obj.has_previous %}
{# Для каждой ссылки пагинации указываем обработку через новый тег #}
    <a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
    ...
    <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}

{% endblock content %}