{% extends 'flatpages/default.html' %}  
{% load custom_filter %} 
{% block titile %}
    {{ post_detail.title }}
{% endblock titile%}
{% block content %}
    <h4 style=color:red>{{ post_detail.title|censor }}</h4>
    <br>
    <hr>
    <b>{{ post_detail.text|censor }}</b>
    <br>
    Опубликовано: {{ post_detail.created|date:'d F Y' }}
    <br>
    Автор: {{ post_detail.author.user}}

    {% if post_detail.author.user == request.user %}
    <p><a href="{% url 'post_update' pk=post_detail.pk %}">Редактировать</a>
    <a href="{% url 'post_delete' pk=post_detail.pk %}">Удалить</a>
    {% endif %}
{% endblock content %}
